#search-form {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;
}

@media (max-width: 600px) {
    #search-form {
        margin-left: 15px;
    }
}

@media (max-width: 435px) {
    #search-form {
        width: 375px;
    }
}

@media (max-width: 410px) {
    #search-form {
        width: 365px;
    }
}

@media (max-width: 380px) {
    #search-form {
        width: 340px;
    }
}

@media (max-width: 370px) {
    #search-form {
        width: 334px;
    }
}
